<a href="https://colab.research.google.com/github/huangliangc/Analysis_Projects/blob/main/Analysis_Project_3_BA_Admission.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)

import pandas as pd
import seaborn as sns
from sklearn.linear_model import LinearRegression

In [ ]:
link = 'https://docs.google.com/spreadsheets/d/1vwBsIGRgt1grxb5zLtIRULxHlWZ6eaUuHrB4Pelh7ZI/edit#gid=2146076648'

In [ ]:
gsheets = gc.open_by_url(link)
sheets = gsheets.worksheet('BA').get_all_values()
df = pd.DataFrame(sheets[1:], columns=sheets[0], dtype = object)
df.drop_duplicates(subset = "0000SLATE REF ID,")
df = df[df['0000SLATE REF ID,'] != '']

In [ ]:
df

,AppLink,PrescreenLocation,IND Ck,"0000SLATE REF ID,",Reviewer,FacRank,Int,IntRate,Status,Staff Rating,...,I-20 Status,Visa/Vissa Appt Status,Decision Confirmed Code,Programming Languages - Proficient,Intro Programming,Intro Programming Course,Computer Science PreReq,Data Science PreReq,Coding Internship,Coding Internship Language
0,https://apply.engineering.columbia.edu/manage/...,REP,,"654046742,",Adam,5,x,4.0,,,...,,,,"MATLAB, Python, R, SQL, VB",1,"Python, R, MATLAB, SQL, SAS",1,1,1,"Python, R, MATLAB, SQL, SAS"
1,https://apply.engineering.columbia.edu/manage/...,REP,,"299364339,",Adam,4,x,3.3,,,...,,,,"C, MATLAB, Python, R, SQL, VB",1,"Dr. Racket, Python, C",1,0,1,"Python, MATLAB. SQL, VBA"
2,https://apply.engineering.columbia.edu/manage/...,REP,,"063242358,",Adam,5,x,3.7,,,...,,,,"MATLAB, Python, R, SQL, VB",1,"Python, R, SQL, Racket",1,1,1,"Python, SQL"
3,https://apply.engineering.columbia.edu/manage/...,UR,,"320021522,",Adam,1,,#N/A,,,...,,,,"Java, SQL",1,Java and SQL,1,0,0,
4,https://apply.engineering.columbia.edu/manage/...,REP,,"208262775,",Adam,4,x,4.7,,,...,,,,"MATLAB, Python, R, SQL",1,"Scheme, C, R,SQL",1,1,1,"JSON, SQL"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2264,https://apply.engineering.columbia.edu/manage/...,,,"438184187,",,,,#N/A,,,...,,,,Python,1,C & python,1,0,0,
2265,https://apply.engineering.columbia.edu/manage/...,,,"329624326,",,,,#N/A,,1,...,,,,Python,1,Python,1,0,0,
2266,https://apply.engineering.columbia.edu/manage/...,,,"312045791,",,,,#N/A,,1,...,,,,Java,1,JAVA,0,0,0,
2267,https://apply.engineering.columbia.edu/manage/...,,,"163945382,",,,,#N/A,,1,...,,,,R,1,R Stata,0,0,0,
2268,https://apply.engineering.columbia.edu/manage/...,,,"775576290,",,,,#N/A,,3,...,,,,"Python, SQL",1,Python,1,1,1,SQL

In [ ]:
df['IEOR: MS Faculty Review Form #1 Academic Background'][0]

'5 - Admit, with no reservations'

In [ ]:
rows = []
for i in range(0, df['IEOR: MS Faculty Review Form #1 Academic Background'].shape[0]):
  if df['IEOR: MS Faculty Review Form #1 Academic Background'][i] == '':
    continue
  elif df['IEOR: MS Faculty Review Form #1 Academic Background'][i][0] == '4' or df['IEOR: MS Faculty Review Form #1 Academic Background'][i][0] == '5':
    rows.append(df['IEOR: MS Faculty Review Form #1 Academic Background'][i])

In [ ]:
len(rows)

413

In [ ]:
type(df['IEOR: MS Faculty Review Form #1 Academic Background'])

pandas.core.series.Series

In [ ]:
len(df)

2269

In [ ]:
Acceptance_rate = str(round((len(rows)/len(df) * 100), 2)) + '%'
Acceptance_rate

'18.2%'